<html>
  <head>
    <% content_for :title, "FireNorth -- About Us" %>
    <%= stylesheet_link_tag "stylesheet" %>
  </head>
  <body>
          
    <div class="logo"></div>
    
    
      
      <div class="linkSpacer"></div>
      
      <div class="link" id="one">
        <%= link_to 'About Us!', page_path("aboutus") %>
      </div>
      
      <div class="link" id="two">
        <%= link_to 'Our Portfolio!', page_path("portfolio") %>
      </div>
      
      <div class="link" id="three">
        <%= link_to 'What We Do!', page_path("whatwedo") %>
      </div>
    
    
    
    <div class="content">
      <h1>We're too sexy for the internet.</h1>
    
      <br><br>
    
      <%= link_to 'Go Back Home', posts_path %>
    </div>
  </body>
</html>