<html>
  <head>
    <% content_for :title, "FireLight Studios" %>
    <%= stylesheet_link_tag "stylesheet" %>
  </head>
  <body>
    <%= link_to 'About Us!', page_path("aboutus") %> | 
    <%= link_to 'Our Portfolio!', page_path("portfolio") %> | 
    <%= link_to 'What We Do!', page_path("whatwedo") %>

      <%= render :partial => @posts %>

      <%= link_to 'New Post', new_post_path %>
  </body>
</html>