<html>
  <head>
    <% content_for :title, "FireLight Studios" %>
    <%= stylesheet_link_tag "/public/stylesheet" %>
  </head>
  <body>
    <div class="container">
      
      <div class="logo"></div>
      
      <div class="linkBox">
        
        <div class="linkSpacer"></div>
        
        <div class="link">
          <%= link_to 'About Us!', page_path("aboutus") %>
        </div>
        
        <div class="link">
          <%= link_to 'Our Portfolio!', page_path("portfolio") %>
        </div>
        
        <div class="link">
          <%= link_to 'What We Do!', page_path("whatwedo") %>
        </div>
      
      </div>
      
      <div class="content">
      
      <%= render :partial => @posts %>
      
      <%= link_to 'New Post', new_post_path %>
      
      </div>
    </div>
  </body>
</html>